<h2>برترین ایده ها</h2>

<!-- table grid 1-->
<nz-table nzBordered [nzPageSize]="10" nzTitle="10 ایده ی برتر کلی" #editRowTable1 [nzData]="gridDataTop10All">
  <thead>
    <tr>
      <th nzWidth="7%">#</th>
      <th nzWidth="28%">موضوع</th>
      <th nzWidth="10%">امتیاز</th>
      <th nzWidth="18%">نام و نام خانوادگی طراح</th>
      <th nzWidth="18%">نام کاربری</th>
      <th nzWidth="9%">وضعیت</th>
      <th nzWidth="10%">تاریخ مطرح شدن</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <tr *ngFor="let item of editRowTable1.data; let i = index" (click)="changeVisibletyOfModal(item.Id)">
      <td>{{ i + 1 }}</td>
      <td>{{ item.Title }}</td>
      <td>{{ item.TotalPoints }}</td>
      <td>{{ item.FullName }}</td>
      <td>{{ item.Username }}</td>
      <td>{{ item.Status }}</td>
      <td>{{ item.SaveDate }}</td>
    </tr>
  </tbody>
</nz-table>

<hr style="border: 1px solid BLACK" />
<!-- table grid 2-->
<nz-table nzBordered [nzPageSize]="10" nzTitle="10 ایده ی برتر ماه" #editRowTable2 [nzData]="gridDataTop10CurrentMonth">
  <thead>
    <tr>
      <th nzWidth="7%">#</th>
      <th nzWidth="28%">موضوع</th>
      <th nzWidth="10%">امتیاز</th>
      <th nzWidth="18%">نام و نام خانوادگی طراح</th>
      <th nzWidth="18%">نام کاربری</th>
      <th nzWidth="9%">وضعیت</th>
      <th nzWidth="10%">تاریخ مطرح شدن</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <tr *ngFor="let item of editRowTable2.data; let i = index" (click)="changeVisibletyOfModal(item.Id)">
      <td>{{ i + 1 }}</td>
      <td>{{ item.Title }}</td>
      <td>{{ item.TotalPoints }}</td>
      <td>{{ item.FullName }}</td>
      <td>{{ item.Username }}</td>
      <td>{{ item.Status }}</td>
      <td>{{ item.SaveDate }}</td>
    </tr>
  </tbody>
</nz-table>

<hr style="border: 1px solid BLACK" />

<!-- table grid 3-->
<nz-table nzBordered [nzPageSize]="10" nzTitle="10 ایده ی برتر هفته" #editRowTable3 [nzData]="gridDataTop10CurrentWeek">
  <thead>
    <tr>
      <th nzWidth="7%">#</th>
      <th nzWidth="28%">موضوع</th>
      <th nzWidth="10%">امتیاز</th>
      <th nzWidth="18%">نام و نام خانوادگی طراح</th>
      <th nzWidth="18%">نام کاربری</th>
      <th nzWidth="9%">وضعیت</th>
      <th nzWidth="10%">تاریخ مطرح شدن</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <tr *ngFor="let item of editRowTable3.data; let i = index" (click)="changeVisibletyOfModal(item.Id)">
      <td>{{ i + 1 }}</td>
      <td>{{ item.Title }}</td>
      <td>{{ item.TotalPoints }}</td>
      <td>{{ item.FullName }}</td>
      <td>{{ item.Username }}</td>
      <td>{{ item.Status }}</td>
      <td>{{ item.SaveDate }}</td>
    </tr>
  </tbody>
</nz-table>
<app-show-ideas #modalShowIdea></app-show-ideas>
