<h2>برترین ایده ها</h2>

<!-- table grid 1-->
<nz-table nzBordered [nzPageSize]="10" nzTitle="10 ایده ی برتر کلی">
  <thead>
    <tr>
      <th nzWidth="7%">#</th>
      <th nzWidth="28%">موضوع</th>
      <th nzWidth="10%">امتیاز</th>
      <th nzWidth="18%">نام و نام خانوادگی طراح</th>
      <th nzWidth="18%">نام کاربری</th>
      <th nzWidth="9%">وضعیت</th>
      <th nzWidth="10%">تاریخ مطرح شدن</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <tr (click)="changeVisibletyOfModal('alo')">
      <td>1</td>
      <td>بهبود سیستم نمره دهی به کمک ارزیابی</td>
      <td>1572</td>
      <td>احمد احمدی</td>
      <td>ahmad55</td>
      <td>پذیرفته شده</td>
      <td>1398/02/05</td>
    </tr>
    <!-- 2 -->
    <tr (click)="changeVisibletyOfModal('alo')">
      <td>2</td>
      <td>سیستم حضور غیاب به کمک کارت دانشجویی</td>
      <td>1487</td>
      <td>محمد موسوی</td>
      <td>m_mosavi</td>
      <td>پذیرفته شده</td>
      <td>1398/08/17</td>
    </tr>
  </tbody>
</nz-table>

<hr style="border: 1px solid BLACK" />
<!-- table grid 2-->
<nz-table nzBordered [nzPageSize]="10" nzTitle="10 ایده ی برتر ماه">
  <thead>
    <tr>
      <th nzWidth="7%">#</th>
      <th nzWidth="28%">موضوع</th>
      <th nzWidth="10%">امتیاز</th>
      <th nzWidth="18%">نام و نام خانوادگی طراح</th>
      <th nzWidth="18%">نام کاربری</th>
      <th nzWidth="9%">وضعیت</th>
      <th nzWidth="10%">تاریخ مطرح شدن</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <tr (click)="changeVisibletyOfModal('alo')">
      <td>1</td>
      <td>بهبود سیستم نمره دهی به کمک ارزیابی</td>
      <td>1572</td>
      <td>احمد احمدی</td>
      <td>ahmad55</td>
      <td>پذیرفته شده</td>
      <td>1398/02/05</td>
    </tr>
    <!-- 2 -->
    <tr (click)="changeVisibletyOfModal('alo')">
      <td>2</td>
      <td>سیستم حضور غیاب به کمک کارت دانشجویی</td>
      <td>1487</td>
      <td>محمد موسوی</td>
      <td>m_mosavi</td>
      <td>در حال بررسی</td>
      <td>1398/08/17</td>
    </tr>
  </tbody>
</nz-table>

<hr style="border: 1px solid BLACK" />
<!-- table grid 3-->
<nz-table nzBordered [nzPageSize]="10" nzTitle="10 ایده ی برتر هفته">
  <thead>
    <tr>
      <th nzWidth="7%">#</th>
      <th nzWidth="28%">موضوع</th>
      <th nzWidth="10%">امتیاز</th>
      <th nzWidth="18%">نام و نام خانوادگی طراح</th>
      <th nzWidth="18%">نام کاربری</th>
      <th nzWidth="9%">وضعیت</th>
      <th nzWidth="10%">تاریخ مطرح شدن</th>
    </tr>
  </thead>
  <tbody>
    <!-- 1 -->
    <tr (click)="changeVisibletyOfModal('alo')">
      <td>1</td>
      <td>بهبود سیستم نمره دهی به کمک ارزیابی</td>
      <td>1572</td>
      <td>احمد احمدی</td>
      <td>ahmad55</td>
      <td>در حال بررسی</td>
      <td>1398/02/05</td>
    </tr>
    <!-- 2 -->
    <tr (click)="changeVisibletyOfModal('alo')">
      <td>2</td>
      <td>سیستم حضور غیاب به کمک کارت دانشجویی</td>
      <td>1487</td>
      <td>محمد موسوی</td>
      <td>m_mosavi</td>
      <td>رد شده</td>
      <td>1398/08/17</td>
    </tr>
  </tbody>
</nz-table>
<app-show-ideas #modalShowIdea></app-show-ideas>
