<h2>مدیریت اعضای کمیته</h2>

<form class="col-24" nz-form [formGroup]="topForm" role="form" (ngSubmit)="submit()">
  <!-- row 1 -->
  <div nz-row [nzGutter]="4">
    <!-- 1 -->
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label
          class="rtlm"
          [nzXXl]="6"
          [nzXl]="8"
          [nzLg]="9"
          [nzMd]="13"
          [nzSm]="14"
          [nzXs]="24"
          [nzRequired]="false"
          nzFor="full_name"
          >نام و نام خانوادگی</nz-form-label
        >
        <nz-form-control [nzXXl]="17" [nzXl]="15" [nzLg]="14" [nzMd]="11" [nzSm]="10" [nzXs]="24">
          <input nz-input formControlName="full_name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 2 -->
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label
          class="rtlm"
          [nzXXl]="4"
          [nzXl]="5"
          [nzLg]="7"
          [nzMd]="9"
          [nzSm]="13"
          [nzXs]="24"
          [nzRequired]="false"
          >نام کاربری</nz-form-label
        >
        <nz-form-control [nzXXl]="19" [nzXl]="18" [nzLg]="16" [nzMd]="14" [nzSm]="10" [nzXs]="24">
          <input nz-input formControlName="username" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 3-->
    <div nz-col nzSpan="5">
      <nz-form-item>
        <nz-form-label
          class="rtlm"
          [nzXXl]="4"
          [nzXl]="5"
          [nzLg]="7"
          [nzMd]="9"
          [nzSm]="12"
          [nzXs]="24"
          [nzRequired]="false"
          nzRequired
          nzFor="position_type"
          >نقش</nz-form-label
        >
        <nz-form-control [nzXXl]="19" [nzXl]="18" [nzLg]="16" [nzMd]="15" [nzSm]="12" [nzXs]="24">
          <nz-select style="width: 200px;" formControlName="position_type" nzShowSearch>
            <nz-option nzLabel="عضو کمیته" [nzValue]="1"></nz-option>
            <nz-option nzLabel="کاربر معمولی" [nzValue]="0"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- 4 -->
    <div nz-col nzSpan="3">
      <button nz-button nzType="primary">جست و جو</button>
    </div>
  </div>
</form>

<!-- table grid 1-->
<nz-table nzBordered [nzPageSize]="10" #editRowTable [nzData]="gridData">
  <thead>
    <tr>
      <th nzWidth="7%">#</th>
      <th nzWidth="30%">نام و نام خانوادگی</th>
      <th nzWidth="20%">نام کاربری</th>
      <th nzWidth="10%">عضو کمیته</th>
      <th nzWidth="10%">ادمین</th>
      <th nzWidth="23%">عملیات</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of editRowTable.data">
      <td>1</td>
      <td>{{ item.FirstName + ' ' }}{{ item.LastName }}</td>
      <td>{{ item.Username }}</td>
      <td>{{ item.CommitteFlag === true ? 'بلی' : 'خیر' }}</td>
      <td>{{ item.AdminFlag === true ? 'بلی' : 'خیر' }}</td>
      <td>
        <button
          nz-button
          style="color: white;background-color: red;"
          *ngIf="item.CommitteFlag"
          (click)="changeToMember(item.Username)"
        >
          تبدیل به کاربر معمولی
        </button>

        <button
          nz-button
          style="color: black;background-color: greenyellow;"
          *ngIf="!item.CommitteFlag"
          (click)="changeToCommitte(item.Username)"
        >
          تبدیل به عضو کمیته
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
