<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <h3>
    <span class="underline">
      بازیابی رمز عبور
    </span>
  </h3>
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="nameErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <input nz-input formControlName="name" placeholder="نام" />
      </nz-input-group>
      <ng-template #nameErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">ورود نام اجباری است</ng-container>
        <ng-container *ngIf="i.errors && !i.errors?.required"> نام مجاز بیش از 3 حرف دارد</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="familyNameErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <input nz-input formControlName="family_name" placeholder="نام‌خانوادگی" />
      </nz-input-group>
      <ng-template #familyNameErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">ورود نام‌خانوادگی اجباری است</ng-container>
        <ng-container *ngIf="i.errors && !i.errors?.required"> نام‌خانوادگی مجاز بیش از 3 حرف دارد</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="nameErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <input nz-input formControlName="username" placeholder="نام کاربری" />
      </nz-input-group>
      <ng-template #nameErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">ورود نام کاربری اجباری است</ng-container>
        <ng-container *ngIf="i.errors && !i.errors?.required"> نام کاربری مجاز بیش از 3 حرف دارد</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="mailErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="user">
        <input nz-input formControlName="mail" placeholder="ایمیل" />
      </nz-input-group>
      <ng-template #mailErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.email.required' | translate }}</ng-container>
        <ng-container *ngIf="i.errors?.email">{{ 'validation.email.wrong-format' | translate }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="http.loading" class="centerB">
      بازیابی
    </button>
    <!-- <button nz-button nzSize="large" [nzLoading]="http.loading" class="submit">بازگشت</button> -->
  </nz-form-item>
</form>
