<!-- <nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="100" (nzOnClick)="notify()">
  <ng-template #tpl>
    <div class="ant-back-top-inner">UP</div>
  </ng-template>
</nz-back-top> -->

<h2 style="margin-bottom: 25px">ایده :</h2>
<div class="parts">
  <form class="col-24" nz-form role="form" [formGroup]="topForm">
    <!-- row 1 -->
    <div nz-row [nzGutter]="4">
      <!-- 1 -->
      <div nz-col nzSpan="4">
        <button
          *ngIf="checkCanDoOperation(idea.Username)"
          nz-button
          style="margin-top: 10px;margin-right: 10px; color:white;background-color: red;"
          nzShape="circle"
          (click)="deleteIdea(idea.Id)"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </div>
      <!-- 2 -->
      <div nz-col nzSpan="4">
        <div class="member-box " style="margin-top: 10px;">نام : {{ idea.FullName }}</div>
      </div>
      <div nz-col nzSpan="4">
        <div class="member-box " style="margin-top: 10px;">نام کاربری : {{ idea.Username }}</div>
      </div>
      <!-- 3 -->
      <div nz-col nzSpan="6"></div>
      <div nz-col nzSpan="4">
        <div class="score-board">
          <span>تعداد آرا </span> : <span>{{ idea.POINT }}</span>
        </div>
      </div>
    </div>
    <!-- row 1 -->
    <div nz-row [nzGutter]="4">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired="false" nzFor="title">
            عنوان
          </nz-form-label>
          <nz-form-control [nzSm]="10" [nzXs]="24">
            <input class="formItemColor" [disabled]="true" nz-input formControlName="title" [ngModel]="idea.Title" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <!-- row 2 -->
    <div nz-row [nzGutter]="4">
      <!-- 1 -->
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired="false" nzFor="current_situation">وضعیت فعلی</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <textarea
              [disabled]="true"
              class="formItemColor"
              nz-input
              formControlName="current_situation"
              [nzAutosize]="{ minRows: 5, maxRows: 12 }"
              [ngModel]="idea.CurrentSituation"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <!-- row 3 -->
    <div nz-row [nzGutter]="4">
      <!-- 1 -->
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired="false" nzFor="prerequisite">پیش نیاز ها</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <textarea
              [disabled]="true"
              class="formItemColor"
              nz-input
              formControlName="prerequisite"
              [nzAutosize]="{ minRows: 5, maxRows: 12 }"
              [ngModel]="idea.Prerequisite"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <!-- row 5 -->
    <div nz-row [nzGutter]="4">
      <!-- 1 -->
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired="false" nzFor="steps">مراحل اجرا</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <textarea
              [disabled]="true"
              class="formItemColor"
              nz-input
              formControlName="steps"
              [nzAutosize]="{ minRows: 5, maxRows: 12 }"
              [ngModel]="idea.Steps"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <!-- row 5 -->
    <div nz-row [nzGutter]="4">
      <!-- 1 -->
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired="false" nzFor="advantages">منافع حاصله</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <textarea
              [disabled]="true"
              class="formItemColor"
              nz-input
              formControlName="advantages"
              [nzAutosize]="{ minRows: 5, maxRows: 12 }"
              [ngModel]="idea.Advantages"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <!-- row 6 -->
    <!-- row 6 -->
    <div nz-row [nzGutter]="4">
      <!-- 1 -->
      <div nz-col nzSpan="4"></div>
      <!-- 5 -->
      <div nz-col nzSpan="3">
        <a class="mybuttons" nz-button style="background-color: darkorange ">ارسال پیشنهاد</a>
      </div>
      <!-- 1 -->
      <div nz-col nzSpan="3"></div>
      <!-- 2 -->
      <div nz-col nzSpan="2">
        <a class="mybuttons" nz-button style="background-color: olive;">رای مثبت</a>
      </div>
      <!-- 3 -->
      <div nz-col nzSpan="2">
        <a class="mybuttons" nz-button style="background-color: red; ">رای منفی</a>
      </div>
      <!-- 4 -->
      <div nz-col nzSpan="4"></div>
      <!-- 5 -->

      <div nz-col nzSpan="4">
        <div class="score-board">
          <span>تاریخ ارسال </span> : <span>{{ idea.SAVE_DATE }}</span>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- comment part -->
<h2 style="margin-bottom: 25px" *ngIf="IdeaCommentsDto?.length > 0">پیشنهادات اصلاح :</h2>
<div class="parts" *ngFor="let item of IdeaCommentsDto; let i = index">
  <form class="col-24" nz-form role="form" [formGroup]="topForm">
    <!-- row 1 -->
    <div nz-row [nzGutter]="4">
      <!-- 1 -->
      <div nz-col nzSpan="4">
        <button
          *ngIf="checkCanDoOperation(item.Username)"
          nz-button
          style="margin-top: 10px;margin-right: 10px; color:white;background-color: red;"
          nzShape="circle"
          (click)="deleteComment(item.Id)"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </div>
      <!-- 2 -->
      <div nz-col nzSpan="4">
        <div class="member-box " style="margin-top: 10px;">نام : {{ item.FullName }}</div>
      </div>
      <div nz-col nzSpan="4">
        <div class="member-box " style="margin-top: 10px;">نام کاربری : {{ item.Username }}</div>
      </div>
      <!-- 3 -->
      <div nz-col nzSpan="6"></div>
      <div nz-col nzSpan="4">
        <div class="score-board">
          <span>تعداد آرا </span> : <span>{{ item.Points }}</span>
        </div>
      </div>
    </div>
    <!-- row 2 -->
    <div nz-row [nzGutter]="4">
      <!-- 1 -->
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired="false" nzFor="current_situation">شرح</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <textarea
              [disabled]="true"
              class="formItemColor"
              nz-input
              formControlName="current_situation"
              [nzAutosize]="{ minRows: 5, maxRows: 12 }"
              [ngModel]="idea.Comment"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- row 6 -->
    <div nz-row [nzGutter]="4">
      <!-- 1 -->
      <div nz-col nzSpan="10"></div>
      <!-- 2 -->
      <div nz-col nzSpan="2">
        <a class="mybuttons" nz-button style="background-color: olive;">رای مثبت</a>
      </div>
      <!-- 3 -->
      <div nz-col nzSpan="2">
        <a class="mybuttons" nz-button style="background-color: red; ">رای منفی</a>
      </div>
      <!-- 4 -->
      <div nz-col nzSpan="4"></div>
      <!-- 5 -->

      <div nz-col nzSpan="4">
        <div class="score-board">
          <span>تاریخ ارسال </span> : <span>{{ idea.SAVE_DATE }}</span>
        </div>
      </div>
    </div>
  </form>
</div>
